@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">TrueCoders Coding Terms</h1>
        <p>Study all the terms taught throughout the TrueCoders class.</p>
        <img src="https://hackernoon.com/hn-images/1*qZoBA3wFh-82y2N3qQCdpw.jpeg" alt="Trulli" width="500" height="333">
    </div>
