@model Questions

<h3>@Model.QuestionID Question</h3>

<table class="table">
    <tr>
        <th>QuestionID</th>
        <th>Question</th>
        <th>Answer</th>
    </tr>
    <tr>
        <td>@Model.QuestionID</td>
        <td>@Model.Question</td>
        <td>@Model.Answer</td>
    </tr>

</table>
<div style="display: block">
    <a href="/Question/ViewNextQuestion/@Model.QuestionID">Next Question</a>
</div>

<div style="display: block">
    <a href="/Question/ViewPreviousQuestion/@Model.QuestionID">Previous Question</a>
</div>
