@model Questions

<h3>@Model.Question Information</h3>

<table class="table">
    <tr>
        <th>QuestionID</th>
        <th>Question</th>
        <th>Answer</th>
    </tr>
    <tr>
        <td>@Model.QuestionID</td>
        <td>@Model.Question</td>
        <td>@Model.Answer</td>
    </tr>

</table>

